includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/
        - config/
        - database/
        - routes/

    # Exclude paths
    excludePaths:
        - storage/*
        - bootstrap/*
        
    # Laravel specific settings
    checkModelProperties: true
    checkOctaneCompatibility: true
    
    # Type hints for Laravel facades


    ignoreErrors:
        - '#PHPDoc tag @mixin contains invalid type#'
        - '#Call to an undefined method Illuminate\\Support\\Collection::#'