
svg:not(:root).svg-inline--fa,svg:not(:host).svg-inline--fa{
    overflow:visible;
    box-sizing:content-box
}
.svg-inline--fa{
    display:var(--fa-display, inline-block);
    height:1em;
    overflow:visible;
    vertical-align:-.125em
}
.svg-inline--fa.fa-2xs{
    vertical-align:0.1em
}
.svg-inline--fa.fa-xs{
    vertical-align:0em
}
.svg-inline--fa.fa-sm{
    vertical-align:-0.07143em
}
.svg-inline--fa.fa-lg{
    vertical-align:-0.2em
}
.svg-inline--fa.fa-xl{
    vertical-align:-0.25em
}
.svg-inline--fa.fa-2xl{
    vertical-align:-0.3125em
}
.svg-inline--fa.fa-pull-left{
    margin-right:var(--fa-pull-margin, 0.3em);
    width:auto
}
.svg-inline--fa.fa-pull-right{
    margin-left:var(--fa-pull-margin, 0.3em);
    width:auto
}
.svg-inline--fa.fa-li{
    width:var(--fa-li-width, 2em);
    top:0.25em
}
.svg-inline--fa.fa-fw{
    width:var(--fa-fw-width, 1.25em)
}
.fa-layers svg.svg-inline--fa{
    bottom:0;
    left:0;
    margin:auto;
    position:absolute;
    right:0;
    top:0
}
.fa-layers-text,.fa-layers-counter{
    display:inline-block;
    position:absolute;
    text-align:center
}
.fa-layers{
    display:inline-block;
    height:1em;
    position:relative;
    text-align:center;
    vertical-align:-.125em;
    width:1em
}
.fa-layers svg.svg-inline--fa{
    transform-origin:center center
}
.fa-layers-text{
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    transform-origin:center center
}
.fa-layers-counter{
    background-color:var(--fa-counter-background-color, #ff253a);
    border-radius:var(--fa-counter-border-radius, 1em);
    box-sizing:border-box;
    color:var(--fa-inverse, #fff);
    line-height:var(--fa-counter-line-height, 1);
    max-width:var(--fa-counter-max-width, 5em);
    min-width:var(--fa-counter-min-width, 1.5em);
    overflow:hidden;
    padding:var(--fa-counter-padding, 0.25em 0.5em);
    right:var(--fa-right, 0);
    text-overflow:ellipsis;
    top:var(--fa-top, 0);
    transform:scale(var(--fa-counter-scale, 0.25));
    transform-origin:top right
}
.fa-layers-bottom-right{
    bottom:var(--fa-bottom, 0);
    right:var(--fa-right, 0);
    top:auto;
    transform:scale(var(--fa-layers-scale, 0.25));
    transform-origin:bottom right
}
.fa-layers-bottom-left{
    bottom:var(--fa-bottom, 0);
    left:var(--fa-left, 0);
    right:auto;
    top:auto;
    transform:scale(var(--fa-layers-scale, 0.25));
    transform-origin:bottom left
}
.fa-layers-top-right{
    top:var(--fa-top, 0);
    right:var(--fa-right, 0);
    transform:scale(var(--fa-layers-scale, 0.25));
    transform-origin:top right
}
.fa-layers-top-left{
    left:var(--fa-left, 0);
    right:auto;
    top:var(--fa-top, 0);
    transform:scale(var(--fa-layers-scale, 0.25));
    transform-origin:top left
}

.fa-pull-left{
    float:left;
    margin-right:var(--fa-pull-margin, 0.3em)
}
.fa-pull-right{
    float:right;
    margin-left:var(--fa-pull-margin, 0.3em)
}

@-webkit-keyframes fa-beat{
    0%,90%{
        transform:scale(1)
    }
    45%{
        transform:scale(var(--fa-beat-scale, 1.25))
    }
}
@keyframes fa-beat{
    0%,90%{
        transform:scale(1)
    }
    45%{
        transform:scale(var(--fa-beat-scale, 1.25))
    }
}
@-webkit-keyframes fa-bounce{
    0%{
        transform:scale(1, 1) translateY(0)
    }
    10%{
        transform:scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0)
    }
    30%{
        transform:scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em))
    }
    50%{
        transform:scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0)
    }
    57%{
        transform:scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em))
    }
    64%{
        transform:scale(1, 1) translateY(0)
    }
    100%{
        transform:scale(1, 1) translateY(0)
    }
}


@-webkit-keyframes fa-flip{
    50%{
        transform:rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg))
    }
}
@keyframes fa-flip{
    50%{
        transform:rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg))
    }
}








@media all and (min-width: 1024px){
    html{
        font-size:125%
    }
}
@media all and (min-width: 1024px){
    html{
        font-size:130%
    }
}

main p,main main ol{
    letter-spacing:-0.01em;
    font-size:1rem;
    -webkit-margin-after:1.5em;
    margin-block-end:1.5em;
    -webkit-margin-before:1.5em;
    margin-block-start:1.5em
}

main mark{
    background-color:#e5e0ea;
    padding-left:5px;
    padding-right:5px
}









figure{
    margin:0
}






@media all and (min-width: 1024px){
    .breadcrumb{
        font-size:14px;
        margin-bottom:12px
    }
}
.breadcrumb__item{
    display:inline-block
}
.breadcrumb__item:after{
    content:"/";
    display:inline-block;
    margin:0 2px
}
.breadcrumb__item:last-child:after{
    display:none
}
.breadcrumb__item,.breadcrumb__item>a{
    color:#ccc;
    transition:color 320ms cubic-bezier(0.445, 0.05, 0.55, 0.95)
}
.breadcrumb__item>a:hover{
    color:#3d3d3d
}
.BarMeter,.BarMeter--gradient-dusk,.BarMeter--gradient-midnight{
    display:inline-block;
    width:100%;
    max-width:450%;
    background:transparent;
    position:relative;
    border:0;
    border-color:transparent;
    box-shadow:none
}
.BarMeter:before,.BarMeter--gradient-dusk:before,.BarMeter--gradient-midnight:before{
    content:"";
    width:100%;
    height:9px;
    border-radius:13px;
    background-color:#e5e0ea;
    border:none;
    display:block;
    margin-top:13px
}
.BarMeter__meter{
    display:block;
    width:80%;
    min-width:65px;
    max-width:100%;
    transition:width 0.68s linear, min-width 0.68s linear !important;
    position:absolute;
    top:0;
    height:34px;
    border-radius:12.5px;
    background-color:#deb055;
    box-shadow:0 2px 12px 0 rgba(22,22,22,0.25)
}
.BarMeter__label{
    color:#f2f2f2;
    height:inherit;
    padding:0px;
    display:block;
    font-family:"aktiv-grotesk","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight:500;
    font-size:18px;
    line-height:32px;
    margin-left:0.75rem;
    overflow:hidden
}
.BarMeter--gradient-dusk .BarMeter__meter{
    background-color:transparent;
    background-image:linear-gradient(-90deg, #deb055 0%, #a36fb2 50%, #462c67 100%);
    background-size:120%
}
.BarMeter--gradient-dusk .BarMeter__label{
    margin-left:0.45rem
}
.BarMeter--gradient-midnight .BarMeter__meter{
    background-color:transparent;
    background-image:linear-gradient(-90deg, #663974 0%, #462c67 100%);
    background-size:120%
}
.BarMeter--gradient-midnight .BarMeter__label{
    margin-left:0.45rem
}
table .BarMeter,table .BarMeter--gradient-dusk,table .BarMeter--gradient-midnight{
    vertical-align:middle;
    margin-bottom:0
}
table .BarMeter:before,table .BarMeter--gradient-dusk:before,table .BarMeter--gradient-midnight:before{
    display:none
}
table .BarMeter__meter{
    position:unset
}
.BarMeter--small:before{
    height:4px
}
.BarMeter--small .BarMeter__meter{
    height:18px;
    margin-top:5px
}
.BarMeter--small .BarMeter__label{
    font-size:10px;
    line-height:16px
}
.Box,.Box--big,.Box--dark,.Box--with-padding,.Box--with-table,.Box-ListItem a,.Box-Card,.Box-Callout{
    background-color:#ffffff;
    border-radius:7px;
    box-shadow:0 0 12px 0 rgba(0,0,0,0.11);
    transition:0.33s box-shadow, 0.33s transform
}
.Box--no-shadow{
    box-shadow:none
}
.Box:focus,.Box--big:focus,.Box--dark:focus,.Box--with-padding:focus,.Box--with-table:focus,.Box-ListItem a:focus,.Box-Card:focus,.Box-Callout:focus{
    box-shadow:0 0 12px 0 rgba(0,0,0,0.11),0 0 3pt 2pt rgba(77,144,254,0.99);
    outline:none
}
.Box--big{
    border-radius:30px;
    padding:10px 30px 30px;
    margin-top:30px
}
.Box--big>button{
    width:100%
}
.Box__headings{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size:16px;
    font-weight:800;
    margin-bottom:5px;
    font-weight:300
}
.Box__headings h2,.Box__headings h3,.Box__headings h4{
    font-family:"aktiv-grotesk","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    letter-spacing:0.25px
}
.Box--animate{
    transition:all 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
    box-shadow:0 0 12px 0 rgba(0,0,0,0.11)
}
.Box--animate:active{
    box-shadow:0 0 12px 0 rgba(0,0,0,0.11),0 0 3pt 2pt rgba(77,144,254,0.99);
    outline:none
}
.Box--animate:hover{
    box-shadow:0 2px 24px 0 rgba(0,0,0,0.15);
    transform:translateY(-2px)
}
.Box--animate:focus,.Box--animate:active,.Box--animate--active{
    box-shadow:0 2px 24px 0 rgba(0,0,0,0.15),0 0 3pt 2pt rgba(77,144,254,0.99);
    transform:translateY(-2px);
    outline:none
}
.Box--dark{
    background-color:#242424;
    color:white
}
.Box--with-padding{
    padding:1rem
}
.Box--with-table{
    padding:1rem 0
}
.Box--with-table>h2,.Box--with-table>h3,.Box--with-table>h4,.Box--with-table>h5{
    padding-top:0;
    margin:0 1rem
}
.Box--with-table>table{
    border:0;
    box-shadow:none;
    overflow-x:auto;
    max-width:100%;
    width:100%
}
.Box-ListItem{
    list-style:none;
    padding-left:0
}
.Box-ListItem__title,.Box-ListItem__link{
    font-family:"aktiv-grotesk","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    display:block;
    font-weight:600;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden
}
.Box-ListItem__title{
    font-size:14px;
    line-height:16px;
    margin:7px 7px 0 0;
    color:#242424
}
.Box-ListItem__link{
    color:#bb9cc5;
    font-size:11px;
    line-height:21px
}
.Box-ListItem a{
    display:grid;
    grid-template-columns:55px 1fr;
    justify-content:center;
    align-items:center;
    min-height:56px
}
.Box-ListItem a:before{
    content:counter(elementcounter);
    counter-increment:elementcounter;
    font-family:"aktiv-grotesk","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    height:24px;
    width:24px;
    border-radius:50%;
    color:white;
    background-color:#86429a;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    margin:auto;
    font-size:14px;
    font-weight:600
}
.Box-ListItem a>span{
    display:block;
    overflow:hidden
}
.Box-Card{
    display:grid;
    grid-template-columns:78px 1fr;
    grid-template-rows:75px;
    min-height:77px
}
.Box-Card__content{
    display:flex;
    flex-direction:column;
    justify-content:center
}
.Box-Card__title,.Box-Card__subtitle,.Box-Card__link{
    display:block;
    font-weight:600;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-family:"aktiv-grotesk","Helvetica Neue",Helvetica,Arial,sans-serif !important
}
.Box-Card__title{
    font-size:14px;
    line-height:16px;
    margin:7px 0 0 13px;
    color:#242424;
    padding:0
}
.Box-Card__subtitle,.Box-Card__link{
    color:#bb9cc5;
    font-size:11px;
    line-height:21px;
    margin-left:13px
}
.Box-Card__subtitle{
    text-transform:uppercase;
    margin:7px 0 0 13px;
    padding:0
}
.Box-Card>:first-child{
    overflow:hidden;
    -o-object-fit:cover;
    object-fit:cover;
    border-radius:7px 0 0 7px
}
.Box-Card>:first-child img,.Box-Card>:first-child svg{
    border-radius:inherit;
    width:100%;
    min-height:100%;
    margin:auto
}
.Box-Card__icon{
    font-size:36px;
    text-align:center;
    padding:16px
}
.Box-Card__icon .StaggerIcon__fill{
    color:#a36fb2
}
.Box-Callout{
    border-radius:12px;
    margin-bottom:-63px;
    margin-top:1.2rem;
    position:relative;
    color:#242424;
    padding:0.85rem 0.5rem;
    width:585px;
    max-width:100%;
    position:relative;
    z-index:2;
    font-size:18px
}
@media (min-width: 768px){
    .Box-Callout{
        padding:0.9rem 1rem 1rem;
        margin-bottom:-83px
    }
}
.Box-Callout:before{
    content:" ";
    width:1rem;
    height:1rem;
    border-radius:4px 0 0 0;
    position:absolute;
    top:-0.5rem;
    left:5.2142857143rem;
    transform:rotate(45deg);
    background-color:white;
    box-shadow:-4px -3px 12px -3px rgba(0,0,0,0.11)
}
.Box-Callout__button{
    font-size:16px
}
@media (max-width: calc(768px - 1px)){
    .Box-Callout__button{
        width:100%;
        display:block;
        text-align:center
    }
}
.Box-Callout__spacer{
    width:100%;
    height:2.2em;
    display:block
}
@media (min-width: 768px){
    .Box-Callout__spacer{
        height:3em
    }
}
@media (min-width: 1024px){
    .Box-Callout__spacer{
        height:1.5em
    }
}
.Box-Callout__link{
    color:#b1b1b1;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase
}


.PersonalityGraphs .Box,.PersonalityGraphs .Box--big,.PersonalityGraphs .Box--dark,.PersonalityGraphs .Box--with-padding,.PersonalityGraphs .Box--with-table,.PersonalityGraphs .Box-ListItem a,.Box-ListItem .PersonalityGraphs a,.PersonalityGraphs .Box-Card,.PersonalityGraphs .Box-Callout{
    display:block;
    border-bottom:none !important;
    color:#222 !important;
    padding:14px 12px;
    margin-bottom:24px
}
@media (max-width: 767px){
    .PersonalityGraphs .Box,.PersonalityGraphs .Box--big,.PersonalityGraphs .Box--dark,.PersonalityGraphs .Box--with-padding,.PersonalityGraphs .Box--with-table,.PersonalityGraphs .Box-ListItem a,.Box-ListItem .PersonalityGraphs a,.PersonalityGraphs .Box-Card,.PersonalityGraphs .Box-Callout{
        border-radius:0;
        margin-left:-10px;
        margin-right:-10px;
        margin-bottom:16px
    }
}
@media (min-width: 1024px){
    .PersonalityGraphs .Box,.PersonalityGraphs .Box--big,.PersonalityGraphs .Box--dark,.PersonalityGraphs .Box--with-padding,.PersonalityGraphs .Box--with-table,.PersonalityGraphs .Box-ListItem a,.Box-ListItem .PersonalityGraphs a,.PersonalityGraphs .Box-Card,.PersonalityGraphs .Box-Callout{
        padding:20px 16px
    }
}
.PersonalityGraphs__scale{
    display:flex;
    align-items:center
}
.PersonalityGraphs__scale__name{
    min-width:125px;
    font-size:14px;
    font-weight:300;
    flex:0;
    -webkit-hyphens:auto;
    hyphens:auto;
    line-height:1.2
}
@media (min-width: 1024px){
    .PersonalityGraphs__scale__name{
        font-size:18px;
        min-width:195px
    }
}
.PersonalityGraphs__scale__graph{
    flex:1
}
.PersonalityGraphs__scale__graph .BarMeter,.PersonalityGraphs__scale__graph .BarMeter--gradient-dusk,.PersonalityGraphs__scale__graph .BarMeter--gradient-midnight,.PersonalityGraphs__scale__graph .BarMeter--gradient-dusk{
    width:100%;
    max-width:100%
}
.PersonalityGraphs__scale__graph .BarMeter:before,.PersonalityGraphs__scale__graph .BarMeter--gradient-dusk:before,.PersonalityGraphs__scale__graph .BarMeter--gradient-midnight:before,.PersonalityGraphs__scale__graph .BarMeter--gradient-dusk:before{
    background-color:#e5e0ea
}
.PersonalityGraphs__scale__toggle{
    color:#b1b1b1;
    padding-left:12px
}
@media (min-width: 1024px){
    .PersonalityGraphs__scale__toggle{
        padding-left:16px
    }
}
.PersonalityGraphs__scale__definition{
    font-weight:normal
}
.PersonalityGraphs__scale__definition p:last-child{
    margin-bottom:0
}
.Table--sort-icon{
    margin-left:8px
}
.Table--pagination{
    width:100%;
    padding:1.5rem 0 0;
    display:flex;
    align-items:center;
    justify-content:center
}
.Table--pagination .alans-butt,.Table--pagination .alans-butt--purple,.Table--pagination .Dialog-button.pink,.Table--pagination .alans-butt--orange,.Table--pagination .alans-butt--grey,.Table--pagination .alans-butt--black,.Table--pagination .alans-butt--delete{
    margin:0 1rem
}
.TableOfContents{
    width:100%;
    border-radius:10px;
    background-color:#f8f8f1;
    color:#242424;
    padding:0.5rem 0.8rem 0.3rem;
    position:relative;
    margin:1rem 0 0
}
@media all and (min-width: 1024px){
    .TableOfContents{
        padding:37px 42px
    }
}
.TableOfContents:after{
    content:"";
    opacity:1;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    pointer-events:none;
    border-radius:inherit;
    transition:opacity 0.35s ease
}
.TableOfContents--closed ol,.TableOfContents--closed ul{
    max-height:var(--maxHeightMobile, 75px)
}
@media all and (min-width: 1024px){
    .TableOfContents--closed ol,.TableOfContents--closed ul{
        max-height:var(--maxHeightDesktop, 115px)
    }
}
.TableOfContents--closed:after{
    opacity:1;
    background:linear-gradient(180deg, rgba(246,246,240,0) 0%, #f8f8f1 100%)
}
.TableOfContents--open ol,.TableOfContents--open ul{
    max-height:none
}
.TableOfContents--open:after{
    opacity:0
}
.TableOfContents ol,.TableOfContents ul{
    overflow:hidden;
    transition:all 0.35s ease
}
.TableOfContents a{
    color:inherit
}
.TableOfContents h3{
    font-family:"aktiv-grotesk","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight:300;
    margin:0 0 10px;
    padding-top:0;
    font-size:24px;
    line-height:36px;
    letter-spacing:-0.3px
}
@media all and (min-width: 1024px){
    .TableOfContents h3{
        font-size:32px;
        line-height:36px;
        margin-bottom:30px
    }
}
.TableOfContents>ol,.TableOfContents>ul{
    font-family:"aktiv-grotesk","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size:16px;
    line-height:26px;
    list-style-type:none;
    counter-reset:elementcounter;
    padding-left:0;
    margin:0 0 8px;
    font-weight:300;
    letter-spacing:-0.3px
}
.TableOfContents>ol li,.TableOfContents>ul li{
    margin-bottom:0 !important;
    padding-left:0;
    font-size:16px;
    line-height:24px;
    letter-spacing:-0.3px
}
@media all and (min-width: 1024px){
    .TableOfContents>ol li,.TableOfContents>ul li{
        font-size:24px;
        line-height:39px
    }
}
.TableOfContents>ol li a,.TableOfContents>ul li a{
    color:#242424 !important;
    font-weight:300 !important;
    border-bottom:0 !important
}

.TableOfContents>ol li:before,.TableOfContents>ul li:before{
    content:""
}
.TableOfContents button{
    z-index:1;
    padding:6px 12px;
    position:relative;
    color:#242424;
    font-size:16px;
    font-weight:500;
    line-height:19px;
    border:1px solid #e5e0ea;
    border-radius:7px;
    background-color:#ffffff;
    display:block;
    cursor:pointer
}
.TableOfContents button svg{
    vertical-align:middle;
    margin-left:6px;
    font-size:11px
}
.heading-type{
    font-size: 1.7rem;
    font-weight: 300;
    font-family:
        aktiv-grotesk, "Helvetica Neue", Helvetica, Arial, sans-serif;
}