
.BarMeter,
.BarMeter--gradient-dusk,
.BarMeter--gradient-midnight {
    display: inline-block;
    width: 100%;
    max-width: 450%;
    background: transparent;
    position: relative;
    border: 0;
    border-color: transparent;
    box-shadow: none;
}
.BarMeter:before,
.BarMeter--gradient-dusk:before,
.BarMeter--gradient-midnight:before {
    content: "";
    width: 100%;
    height: 9px;
    border-radius: 13px;
    background-color: #e5e0ea;
    border: none;
    display: block;
    margin-top: 13px;
}
.BarMeter__meter {
    display: block;
    width: 80%;
    min-width: 65px;
    max-width: 100%;
    transition: width 0.68s linear, min-width 0.68s linear !important;
    position: absolute;
    top: 0;
    height: 34px;
    border-radius: 12.5px;
    background-color: #deb055;
    box-shadow: 0 2px 12px 0 rgba(22, 22, 22, 0.25);
}
.BarMeter__label {
    color: #f2f2f2;
    height: inherit;
    padding: 0px;
    display: block;
    font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-left: 0.75rem;
    overflow: hidden;
}
.BarMeter--gradient-dusk .BarMeter__meter {
    background-color: transparent;
    background-image: linear-gradient(
        -90deg,
        #deb055 0%,
        #a36fb2 50%,
        #462c67 100%
    );
    background-size: 120%;
}
.BarMeter--gradient-dusk .BarMeter__label {
    margin-left: 0.45rem;
}
.BarMeter--gradient-midnight .BarMeter__meter {
    background-color: transparent;
    background-image: linear-gradient(-90deg, #663974 0%, #462c67 100%);
    background-size: 120%;
}
.BarMeter--gradient-midnight .BarMeter__label {
    margin-left: 0.45rem;
}
table .BarMeter,
table .BarMeter--gradient-dusk,
table .BarMeter--gradient-midnight {
    vertical-align: middle;
    margin-bottom: 0;
}
table .BarMeter:before,
table .BarMeter--gradient-dusk:before,
table .BarMeter--gradient-midnight:before {
    display: none;
}
table .BarMeter__meter {
    position: unset;
}
.PersonalityGraphs .Box {
    display: block;
    border-bottom: none !important;
    color: #222 !important;
    padding: 14px 12px;
    margin-bottom: 24px;
}
@media (max-width: 767px) {
    .PersonalityGraphs .Box {
        border-radius: 0;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 16px;
    }
}
@media (min-width: 1024px) {
    .PersonalityGraphs .Box {
        padding: 20px 16px;
    }
}
.PersonalityGraphs__scale {
    display: flex;
    align-items: center;
}
.PersonalityGraphs__scale__name {
    min-width: 125px;
    font-size: 14px;
    font-weight: 300;
    flex: 0;
    -webkit-hyphens: auto;
    hyphens: auto;
    line-height: 1.2;
}
@media (min-width: 1024px) {
    .PersonalityGraphs__scale__name {
        font-size: 18px;
        min-width: 195px;
    }
}
.PersonalityGraphs__scale__graph {
    flex: 1;
}
.PersonalityGraphs__scale__graph .BarMeter,
.PersonalityGraphs__scale__graph .BarMeter--gradient-dusk,
.PersonalityGraphs__scale__graph .BarMeter--gradient-midnight,
.PersonalityGraphs__scale__graph .BarMeter--gradient-dusk {
    width: 100%;
    max-width: 100%;
}
.PersonalityGraphs__scale__graph .BarMeter:before,
.PersonalityGraphs__scale__graph .BarMeter--gradient-dusk:before,
.PersonalityGraphs__scale__graph .BarMeter--gradient-midnight:before,
.PersonalityGraphs__scale__graph .BarMeter--gradient-dusk:before {
    background-color: #e5e0ea;
}
.PersonalityGraphs__scale__toggle {
    color: #b1b1b1;
    padding-left: 12px;
}
@media (min-width: 1024px) {
    .PersonalityGraphs__scale__toggle {
        padding-left: 16px;
    }
}
.PersonalityGraphs__scale__definition {
    font-weight: normal;
}
.PersonalityGraphs__scale__definition p:last-child {
    margin-bottom: 0;
}
.DiscoveryRarityTag {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.36);
    border-radius: 5px;
    display: inline-block;
    font-size: 10px;
    line-height: 11px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-transform: uppercase;
    z-index: 2;
}
@media all and (min-width: 768px) {
    .DiscoveryRarityTag {
        font-size: 14px;
        line-height: 16px;
    }
}
.DiscoveryRarityTag--ultra-rare .DiscoveryRarityTag__icon,
.DiscoveryRarityTag--very-rare .DiscoveryRarityTag__icon {
    color: #deb055;
}
.DiscoveryRarityTag__icon {
    font-size: 10px;
    line-height: 10px;
    margin-right: 8px;
    vertical-align: middle;
}
@media all and (min-width: 768px) {
    .DiscoveryRarityTag__icon {
        font-size: 14px;
        line-height: 14px;
    }
}
.Discovery {
    color: white;
    padding: 0 1em 0;
    background-position: bottom;
    background-size: cover;
    border-radius: inherit;
}
@media all and (min-width: 768px) {
    .Discovery {
        text-align: center;
        padding: 0 2em 0;
    }
    .Discovery p {
        text-align: left;
    }
}
.Discovery:empty {
    pointer-events: none;
    padding: 0 !important;
}
.Discovery__title {
    color: white;
    font-weight: 300;
    margin: 15px 0 5px;
    font-size: 30px;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.Discovery__title:focus {
    outline: none;
}
@media (min-width: 641px) {
    .Discovery__title {
        font-size: 30px;
    }
}
@media all and (min-width: 768px) {
    .Discovery__title {
        margin: 15px 0 25px;
        font-size: 40px;
        letter-spacing: -0.4px;
        line-height: 47px;
    }
}
.Discovery__rarity {
    margin: 15px 0 0;
}
@media all and (min-width: 768px) {
    .Discovery__rarity {
        margin: 30px 0 0;
    }
}
.Discovery__rarity + .Dialog-title {
    margin-top: 5px;
}
@media all and (min-width: 768px) {
    .Discovery__rarity + .Dialog-title {
        margin-top: 10px;
    }
}
.Discovery__rarity__icon {
    font-size: 14px;
    line-height: 14px;
    margin-right: 8px;
}
.Discovery p {
    font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 22px;
    line-height: 28px;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
@media all and (min-width: 768px) {
    .Discovery p {
        text-align: center;
    }
}
.Discovery p:focus {
    outline: none;
}
.Discovery__related {
    color: #fff;
    padding: 0 1em 0;
    max-height: 100%;
}
@media all and (min-width: 768px) {
    .Discovery__related {
        padding: 0 2em 0;
    }
}
.Discovery__related__description {
    font-family: "pt-serif", serif !important;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.9);
}
.Discovery__related__subheading {
    font-family: "aktiv-grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
}
@media all and (min-width: 768px) {
    .Discovery__related__subheading {
        font-size: 25px;
        line-height: 31px;
    }
}
.Discovery__related__lil-subheading {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 14px;
    text-transform: uppercase;
}
.Discovery__related__content p {
    font-family: "pt-serif", serif !important;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
}
.Discovery__related__content--scales {
    background-color: rgba(0, 0, 0, 0.4);
}
.Discovery__related__content--scales h3 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.18);
    padding: 16px;
    margin: 0;
}
.Discovery__related .PersonalityGraphs {
    margin-bottom: 24px;
}
.Discovery__related .PersonalityGraphs .Box {
    padding: 24px 16px;
    background: transparent;
    cursor: unset;
    border-bottom: 2px solid rgba(255, 255, 255, 0.18) !important;
    margin: 0;
}
.Discovery__related .PersonalityGraphs .Box:last-of-type {
    border-bottom: 0 !important;
}
.Discovery__related .PersonalityGraphs .Box figure {
    margin: 0px 0px 10px 0px;
}
.Discovery__related .PersonalityGraphs .Box figure .BarMeter:before,
.Discovery__related
    .PersonalityGraphs
    .Box
    figure
    .BarMeter--gradient-dusk:before,
.Discovery__related
    .PersonalityGraphs
    .Box
    figure
    .BarMeter--gradient-midnight:before {
    background-color: #e5e0ea5e;
    height: 5px;
}
.Discovery__related
    .PersonalityGraphs
    .Box
    figure
    .BarMeter:before
    .BarMeter__meter,
.Discovery__related
    .PersonalityGraphs
    .Box
    figure
    .BarMeter--gradient-dusk:before
    .BarMeter__meter,
.Discovery__related
    .PersonalityGraphs
    .Box
    figure
    .BarMeter--gradient-midnight:before
    .BarMeter__meter {
    margin-left: -1px;
    height: 19px;
    top: 3.35px;
}
.Discovery__related .PersonalityGraphs__scale {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media all and (min-width: 768px) {
    .Discovery__related .PersonalityGraphs__scale {
        grid-template-columns: minmax(0, 1fr) 2fr;
    }
}
.Discovery__related .PersonalityGraphs__scale__name {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    min-width: 170px;
    padding-right: 20px;
}
.Discovery__related .Discovery__MemberCareerMatches {
    margin-left: 0;
}
.Discovery__related .Discovery__MemberCareerMatches .HorizontalCard {
    margin-bottom: 12px;
}
@media (max-width: 767px) {
    .Discovery__related .Discovery__MemberCareerMatches .HorizontalCard {
        width: calc(100% + 32px);
        margin: 0 -16px 12px;
        border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
        border-radius: 0;
        box-shadow: 0 2px 8px 0 rgba(216, 216, 204, 0.45);
    }
    .Discovery__related .Discovery__MemberCareerMatches .HorizontalCard:hover {
        box-shadow: 0 2px 16px rgba(216, 216, 204, 0.8);
    }
    .Discovery__related .Discovery__MemberCareerMatches .HorizontalCard-image {
        border-radius: 8px;
        margin: 8px 0 8px 16px;
    }
}
.Discovery--single-scale .Discovery__related,
.Discovery--no-scale .Discovery__related,
.Discovery--multi-scale .Discovery__related,
.Discovery--career-match .Discovery__related {
    padding: 0 0 2em;
    padding-top: 2em;
}
@media all and (min-width: 768px) {
    .Discovery--single-scale .Discovery__related,
    .Discovery--no-scale .Discovery__related,
    .Discovery--multi-scale .Discovery__related,
    .Discovery--career-match .Discovery__related {
        padding: 2em;
    }
}
@media all and (max-width: 767px) {
    .Discovery--single-scale .Discovery__related__description,
    .Discovery--single-scale .Discovery__related__content p,
    .Discovery--single-scale .Discovery__related__feedback,
    .Discovery--no-scale .Discovery__related__description,
    .Discovery--no-scale .Discovery__related__content p,
    .Discovery--no-scale .Discovery__related__feedback,
    .Discovery--multi-scale .Discovery__related__description,
    .Discovery--multi-scale .Discovery__related__content p,
    .Discovery--multi-scale .Discovery__related__feedback,
    .Discovery--career-match .Discovery__related__description,
    .Discovery--career-match .Discovery__related__content p,
    .Discovery--career-match .Discovery__related__feedback {
        padding: 0 1em;
    }
}
.Discovery--multi-scale .Discovery__related,
.Discovery--career-match .Discovery__related {
    background: white;
    color: black;
}
.Discovery__sidebar {
    width: 90%;
    padding-top: 24px;
    text-align: center;
    margin: auto;
}
@media all and (min-height: 975px) {
    .Discovery__sidebar {
        text-align: left;
    }
}
@media all and (min-width: 768px) and (orientation: landscape) {
    .Discovery__sidebar {
        width: 417px;
        padding-top: 106px;
        margin: unset;
    }
}
.Discovery__sidebar > div {
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.4);
}
@media all and (min-width: 768px) and (orientation: landscape) {
    .Discovery__sidebar > div {
        position: sticky;
        top: 70px;
    }
}
.Discovery__sidebar > div img {
    margin-left: 0;
    margin-top: -35px;
}
@media all and (min-width: 768px) and (orientation: landscape) {
    .Discovery__sidebar > div img {
        margin-top: -70px;
        max-width: none;
        height: 500px;
        max-height: 47vh;
    }
}
.Discovery__sidebar > div .Discovery__sidebar__content {
    padding: 5px 22px 10px;
    text-align: left;
}
.Discovery__sidebar > div .Discovery__sidebar__content h3,
.Discovery__sidebar > div .Discovery__sidebar__content p {
    color: rgba(255, 255, 255, 0.9);
}
.Discovery__sidebar > div .Discovery__sidebar__content h3 {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 0;
}
@media all and (min-width: 768px) and (orientation: landscape) {
    .Discovery__sidebar > div .Discovery__sidebar__content h3 {
        font-size: 25px;
        line-height: 31px;
    }
}
.Discovery__sidebar > div .Discovery__sidebar__content p {
    font-size: 16px;
    line-height: 24px;
}
.Discovery__sidebar > div .Discovery__sidebar__content [class*="alans-butt"] {
    width: 100%;
    margin-bottom: 24px;
    height: 48px;
    font-size: 17px;
    padding: 12px 0;
}
.Discovery__sidebar > div .Discovery__sidebar__content .alans-butt--grey {
    background: transparent;
    color: white;
    border-width: 2px;
}
.SharedDiscoveryPage {
    width: 100%;
    padding: 0 0 86px 0;
    background-color: var(--DiscoveryAccentColor, #1e1e21);
}
.SharedDiscoveryPage__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.SharedDiscoveryPage__wrap #shared-discovery-container {
    width: 100%;
}
.SharedDiscoveryPage__wrap .Discovery__title,
.SharedDiscoveryPage__wrap .Discovery__rationale,
.SharedDiscoveryPage__wrap .Discovery__related,
.SharedDiscoveryPage__wrap .Discovery__sidebar {
    position: relative;
    margin: 0 auto;
    text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.06);
    z-index: 2;
}
.SharedDiscoveryPage__wrap .Discovery__title,
.SharedDiscoveryPage__wrap .Discovery__rationale {
    max-width: 580px;
}
@media all and (min-width: 768px) {
    .SharedDiscoveryPage__wrap .Discovery__title {
        font-size: 64px;
        letter-spacing: -0.64px;
        line-height: 83px;
        margin: 14px auto 16px;
    }
}
.SharedDiscoveryPage__wrap .Discovery__title span {
    font-family: "pt-serif", serif !important;
    font-weight: 400;
}
.SharedDiscoveryPage__wrap .Discovery__rationale {
    font-family: "pt-serif", serif !important;
    padding-bottom: 24px;
}
@media all and (min-width: 768px) {
    .SharedDiscoveryPage__wrap .Discovery__rationale {
        font-size: 32px;
        line-height: 41px;
    }
}
.SharedDiscoveryPage__wrap .Discovery__rarity--wrapper {
    max-width: 580px;
    position: relative;
    margin: 0 auto;
}
.SharedDiscoveryPage__wrap section {
    max-width: 1125px;
    margin: 25px auto;
}
@media all and (min-width: 768px) {
    .SharedDiscoveryPage__wrap section {
        display: grid;
        grid-template-columns: minmax(0, 1fr) 430px;
        justify-content: center;
    }
}
.SharedDiscoveryPage__wrap .Discovery__related {
    padding-top: 24px;
}
@media all and (min-width: 768px) {
    .SharedDiscoveryPage__wrap .Discovery__related {
        padding-top: 86px;
    }
}
@media all and (min-width: 768px) {
    .SharedDiscoveryPage__wrap .Discovery__related__description {
        font-size: 20px;
        line-height: 31px;
    }
}
.SharedDiscoveryPage .Discovery {
    padding-top: 15vh;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    padding-bottom: 40px;
    position: relative;
}
@media all and (min-width: 1024px) {
    .SharedDiscoveryPage .Discovery {
        min-height: 350px;
    }
}
.SharedDiscoveryPage .Discovery--no-accent:before,
.SharedDiscoveryPage .Discovery--no-accent:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    pointer-events: none;
}
.SharedDiscoveryPage .Discovery--no-accent:after {
    bottom: 0;
    height: 180px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0) 0%,
        rgba(30, 30, 33, 0.321569) 56%,
        #1e1e21 100%
    );
}
.SharedDiscoveryPage .Discovery--no-accent:before {
    top: 0;
    height: 80px;
    background-image: linear-gradient(#1e1e21 0%, rgba(0, 0, 0, 0) 70%);
}
.SharedDiscoveryPage .Discovery .DiscoveryRarityTag {
    background-color: rgba(0, 0, 0, 0.52);
}
/*# sourceMappingURL=shared-discovery.css.map */
